<%- await include('resources/views/partials/header.ejs") %>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">Todo List</div>
        <div class="card-body">
            <form action="/example" method="post">
                <div class="form-group">
                    <label for="">Example</label>
                    <input type="text" name="example" id="" class='form-control' value="<%= data.example %>">
                </div>
                <button type="submit" class='btn btn-primary float-right mb-2'>Submit</button>
            </form>
        </div>
    </div>
</div>
<%- await include('resources/views/partials/footer.ejs") %>