<%- await include("resources/views/layouts/header.ejs") %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Form Edit Test
                </div>
                <div class="card-body">
                    <form action="/example/update/<%= datas._id['$oid'] %>" method="POST">
                        <input class="form-control" type="text" name="example" value="<%= datas.example %>">
                        <button class="btn btn-sm btn-primary mt-3 float-right" type="submit">Update</button>
                    </form>                    
                </div>
            </div>
        </div>
    </div>
</div>

<%- await include("resources/views/layouts/footer.ejs") %>